OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

WAQI_API_KEY=
WAQI_BASE_URL=https://api.waqi.info

WEATHER_URL = "https://archive-api.open-meteo.com/v1/archive"
FORECAST_URL="https://api.open-meteo.com/v1/forecast"

MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
